.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  background-color: black;
}
h1 {
  color: aliceblue;
}
#ip-info {
  text-align: left;
  color: rgb(48, 252, 48);
  height: 20vw;
  width: 30vw;
  background-color: #000;
  hyphens: none;
  font-size: 1.5vw;
}

#os-info {
  text-align: left;
  color: rgb(48, 252, 48);
  height: 2vw;
  width: 30vw;
  background-color:#000;
  hyphens: none;
  font-size: 1.5vw;
}
